<div class="container panel panel-default dDesk">
   <div class="row">
      <div class="panel-body">
         <div class="col-md-2">
            <h1 class="text-center"><img src="assets/images/icons/js_icn.png" /><br />JavaScript</h1>
         </div>
         <div class="col-md-10">
            <p>
               The history of JavaScript is very interesting to me. It represents the best of the developer 
               community working toward a common beneficial goal. Too often in development, "propietary"  hinders
               the community from moving forward together, and hurts both the industry and end users. From its
               early days as LiveScript in Netscape, to adoption as ECMAScript, Javascript has been a positive
               influence on the WWW. It has lead to the creation of libraries with amazing power like jQuery and
               even UI specilizations like Twitter-Bootstrap (both used for this site). While I don't necessarily write
               native JavaScript very much, most of the useful new libraries for the web today are written to
               leverage this just-in-time language.
            </p>
         </div>
      </div>
   </div>
</div>