<div class="container panel panel-default dDesk">
   <div class="row">
      <div class="panel-body">
         <div class="col-md-2">
            <h1 class="text-center"><img src="assets/images/icons/js_icn.png" /><br />JavaScript</h1>
         </div>
         <div class="col-md-10">
            <p>
               Some text about the tool being used here and the purpose of this section.
               Some text about the tool being used here and the purpose of this section.
               Some text about the tool being used here and the purpose of this section.
               Some text about the tool being used here and the purpose of this section.
            </p>
         </div>
      </div>
      <div class="panel-body clearfix">
         <pre class="prettyprint">
            code goes here
         </pre>
      </div>
   </div>
</div>