<div class="moviePopup">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pull-left">
                <img id="mImage" src="assets/images/not_found.jpg" />
            </div>
            <div class="col-md-8 pull-right">
                <div class="col-md-12">
                    <div class="page-header">
                       <h2 id="mTitle">Title</h2>
                    </div>
                    <p id="mPlot">Place Holder</p>
                </div>
                <div class="col-md-4 pull-left">
                    <div class="page-header">
                       <h5>Release Date</h5>
                    </div>
                    <span id="mRelease">Place Holder</span>
                </div>
                <div class="col-md-4 pull-left">
                    <div class="page-header">
                       <h5>Rated</h5>
                    </div>
                    <span id="mRated">PG-13</span>
                </div>
                <div class="col-md-4 pull-left">
                    <div class="page-header">
                       <h5>TMDB Score</h5>
                    </div>
                    <span id="mScore">4</span>
                </div>
            </div>
        </div>
    </div>
</div>