body {
   background-color: white;
   font-family: 'Josefin Sans', sans-serif;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
   color: white;
   background-image: none;
   background-color: #990000;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
   color: #990000;
}
img {
   max-width: 100%;
}
.navbar-inverse, #footer {
   border-color: #990000;
}
.content-one {
   padding: 0px 20px;
}
.content-one h1 {
   font-size: 72px;
}
.content-one p {
   font-size: 32px;
}
.content-one span {
   font-size: 26px;
}
.content-two span {
   font-size: 18px;
}
img.center-speaker {
   width: 280px;
}
img.surround-speaker {
   width: 280px;
}
/* additional rules for pictures */
img.sub-back {
   width: 420px
}
img.rcvr {
   width: 300px;
}
img.oppo-blu {
   width: 300px;
}
.sub-left, .sub-right {
   margin-top: 40px;
}
.rcvr, .oppo-blu, .svs-ultra-bk, .emotiva {
   margin-right: 25px;
}
.svs-ultra-bk, .emotiva {
   max-width: 120px;
}
