/**
 * default styles here
html {
   overflow: -moz-scrollbars-vertical;
   overflow-y: scroll;
}
 */
body {
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #f7f7f7;
}
.navbar-inverse {
   background-image: none;
   background-color: #191919;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
   color: #191919;
   background-image: none;
   background-color: #FFF056;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
   color: #FFF056;
}
.navbar-inverse {
   border-color: #FFF056;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.theme-showcase .navbar .container {
    width: auto;
}
.page-header {
   border-bottom: 2px solid #e9e9e9;
}
#footer {
   width: 100%;
   bottom: 0px;
   position: fixed;
   z-index: 1400;
   background-color: #191919;
   border-top: 1px solid #FFF056;
   padding: 5px;
}
#footer .container {
   width: 95%;
   margin: 0px auto;
}
#footer img {
   max-height: 20px;
   margin-right: 15px;
}
#footer div.col-md-4:nth-child(3) > a:nth-child(6) > img:nth-child(1) {
   margin-right: 0px;
}
#footer span {
   display: inline-block;
   font-size: 14px;
   font-weight: normal;
   line-height: 20px;
   color: #9d9d9d;
   padding-top: 3px;
}
/**
 * WeekPickerStyles
 */
.date-form {
    margin: 10px;
}
label.control-label span {
    cursor: pointer;
}
.week-picker .ui-state-active {
    background: #29ABE2;
    border: 1px solid #29ABE2;
}
.week-picker .ui-state-highlight {
    background: #5CB85C;
    border: 1px solid #4CAE4C;
    color: white;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    text-align: center;
}
.ui-datepicker-week-end, .ui-datepicker-week-end a.ui-state-default {
    pointer-events: none;
    cursor: no-drop;
    color: #888;
}
/**
 *  ZeroClipboard styles
 */
.zero-clipboard {
    position: relative;
    display: none;
}
.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}
.btn-clipboard-hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}
@media (min-width: 768px) {
    .zero-clipboard {
        display: block;
    }
    .zero-clipboard .btn-clipboard {
        top: -16px;
        border-top-right-radius: 0;
    }
}