body {
   background-image: linear-gradient(to bottom,#222 0,#000 60%);
   background-image:url('../images/auto/bkgrd_strip.jpg');
   background-repeat: repeat-x;
   background-size: contain;
}
.section {
   color: #bbb;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.section img {
   max-width: 98%;
   position: relative;
   bottom: 10px;
}
.section .info {
   height: 325px;
}
#fp-nav ul li a span {
   background: #099BC2;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
   color: white;
   background-image: none;
   background-color: #099BC2;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
   color: #099BC2;
}
.navbar-inverse, #footer {
   border-color: #099BC2;
}
.section h1, .section h3 {
   font-family: 'Gruppo', cursive;
   margin: 0px;
   padding: 4px;
   color: #B79C6F;
}
.section p, .section li {
   font-size: 12px;
   letter-spacing: 1px;
   line-heght: 18px;
   overflow-y: auto
}
.statusTag {
   padding: 3px 10px;
   background-color: #099BC2;
   color: white;
   font-size: 20px;
   font-weight: bold;
   margin-top: -10px;
   margin-right: -25px;
}
.currentSection, .futureSection, .dreamSection, .contenderSection {
   min-height: 700px;
   background-color: black;
   border: 2px solid #099BC2;
   padding: 10px;
}
.dreamSection {
   background-image: url('../images/auto/merc/slr_1080_591.jpg');
}
#future_1 {
   background-image: url('../images/auto/future/z06.jpg');
}
#future_2 {
   background-image: url('../images/auto/future/f-type.jpg');
}
#future_3 {
   background-image: url('../images/auto/future/m6.jpg');
}
.dreamSection, .contenderSection {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.dreamSection .col-md-4, .dreamSection .col-md-12,
.contenderSection .col-md-4, .contenderSection .col-md-12{
   background-color: rgba(0, 0, 0, 0.8);
}