body {
   background-image: linear-gradient(to bottom,#222 0,#000 60%);
}
.section {
   color: #bbb;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.section img {
   max-width: 98%;
   position: relative;
   bottom: 10px;
}
.section .info {
   height: 325px;
}
#fp-nav ul li a span {
   background: #099BC2;
}
.navbar-inverse {
   border-color: transparent;
}
.fullpage {
}
.section h1, .section h3 {
   font-family: 'Gruppo', cursive;
   margin: 0px;
   padding: 4px;
   color: #B79C6F;
}
.section p, .section li {
   font-size: 12px;
   letter-spacing: 1px;
   line-heght: 18px;
   overflow-y: auto
}
.statusTag {
   padding: 3px 10px;
   background-color: #099BC2;
   color: black;
   font-size: 20px;
   font-weight: bold;
   margin-top: -10px;
   margin-right: -25px;
}
.currentSection, .futureSection, .dreamSection, .contenderSection {
   height: 700px;
   background-color: black;
   border: 2px solid #099BC2;
   padding: 10px;
}
.dreamSection {
   background-image: url('../images/auto/merc/slr_1080_591.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.dreamSection .col-md-4, .dreamSection .col-md-12{
   background-color: rgba(0, 0, 0, 0.5);

}
.contenderSection {
}
