.poster:hover {
    cursor: pointer;
}
#template {
    text-align: center;
    display: inline;
}
#template img {
    margin: 3px;
    width: 185px;
    height: 278px;
}
/* clear fix rules */
#searchResults::before, #searchResults::after {
    content:"";
    display:table;
}
#searchResults::after {
    clear:both;
}
#searchResults {
    padding-left: 45px;
    background-color: #081c24;
    display: none;
    clear: both;
    border-bottom: 1px solid #dedede;
}
/* popup */
.moviePopup {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
}
.movieInfo {
    max-width: 90%;
    min-width: 400px;
}
.movieInfo .row {
    text-align: left;
    font-size: 1.2em;
}

.movieInfo img {
    max-width: 99%;
}
#mPlot {
}
#mImage {
}
#mRelease {
}

/* isotope grid */
.grid {
    width: 80%;
    margin: 0px auto;
}
.grid-item {
    width: 185px;
    height: 278px;
    background: #e6e5e4;
    border: 1px solid black;
}

.grid-item--width2 {
    width: 92px;
    height: 137px;
}
.clear-both {
    clear: both;
}